body{
    margin: 0;
}
#container{
    width: 980px;
    margin: 0 auto;
}
header{
    height: 200px;
    background-color: rgb(228, 241, 243);
    position: relative;
}
nav{
    height: 100px;
    background-color: rgb(216, 241, 204);
    position: relative;
}
main{
    height: 1000px;
    background-color: beige;
}
footer{
    height: 100px;
    background-color: rgba(128, 128, 119, 0.274);
}
h1{
    text-align: center;
    padding-top: 50px;
    margin: 0;
    padding-left: 50px;
}

.aa{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 250px;
    bottom: 35px;
}
nav ul{
    margin: 0;
    position: absolute;
    left: 45px;
    top: 25px;
}
nav li{
    margin: 0;
    list-style-type: none;
    background-color: #d3e4f0;
    width: 200px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
nav a{
    color: rgb(133, 17, 228);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 180px;
    border-radius: 20px;
}
nav a:hover{
    background-color: rgb(87, 153, 131);
    color: #FFF;
}
footer p{
    margin: 0;
}
.ab{
    padding-top: 10px;
    padding-left: 10px;
}
.gotop{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: rgb(206, 230, 230);
    padding: 10px;
    text-align: center;
    line-height: 3em;
    position: fixed;
    right: 300px;
    bottom: 10px;
    color: rgb(0, 0, 0);
}
