@charset "utf-8";
/*設定版面區塊且置中*/
#contents{
    width: 980px;
    margin: 0 auto;
    background-color: rgb(182, 231, 231);
}

/*視窗背景色設定*/
body{
    background-color: rgba(174, 204, 221, 0.5);
    background-image: url(../img/bg.png);
    background-repeat: repeat-x;
    background-position: right top;
    background-attachment: fixed;
}


/*連結顏色設定*/
a{
    color: rgb(169, 28, 224);
}

/*頁首,導覽,頁尾的共通設定*/


/*導覽樣式設定*/


/*頁面標題設定*/
h1{
    background-color: rgb(226, 226, 128);
    color: rgb(124, 40, 40);
    margin: 40px auto;
    padding: 30px;
    border: 5px solid #95dbbd;
    width: 300px;
    font-size: 300%;
    text-align: center;
    line-height: 1;
    border-radius: 50%;
    box-shadow: 5px 5px 10px;
    text-shadow: 5px 5px 10px;
}

/*次標題設定*/
h2{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #94c8b1;
    border-left: 10px solid #d0e35b;
    color: #6fbb9a;
}

/*小標題設定*/
.h-sub{
    padding: 10px;
    background-color: beige;
    color: #438166;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px inset;
}


/*內容區塊邊框設定*/


/*「更多介紹」連結設定*/


/*連結圖示設定*/


/*區塊間分隔*/


/*文繞圖設定*/


/*圓形圖片設定*/
.photo{
    width: 480px;
    height: 300px;
}


